/**/


/***************************************************************/


/*************************** GENERAL ***************************/


body {
    margin: 0;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: inline-block;
    text-align: center;
}

.col-1 {
    background-color: white;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 15%;
}

.col-2 {
    height: 100%;
    margin-left: 15%;
    width: 70%;
}

.col-3 {
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 15%;
}

img {
    display: inline;
    vertical-align: middle;
}


#logo {
    height: 100px;
}


/***************************************************************/


/*************************** NAVBAR ***************************/

#index {
    background-color: #f22828;
}

#manager {
    background-color: #f4da16;
}

#registros {
    background-color: #71e34f;
}

#otros {
    background-color: #14a9ff;
}

ul {
    background-color: #aeafb1;
    list-style-type: none;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: fixed;
    width: 15%;
}

ul li {
    border-bottom: 1px solid white;
    line-height: 30px;
    width: 100%;
}

ul li div {
    display: block;
}

ul li a {
    color: white;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-size: 15px;
    display: block;
    background-color: #aeafb1;
}

ul li a.active {
    margin-left: 10px;
    background-color: #777d81;
}

ul li a:hover {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    margin-left: 10px;
    background-color: #777d81;
}

.lock {
    color: white;
}

button:hover .lock {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #71e34f;
}


/***************************************************************/


/*************************** SECTION ***************************/

textarea {
    font-size: 12px;
    resize: none;
    text-align: justify;
    pointer-events: none;
    text-decoration: none;
    border: none;
    display: block;
    margin: auto;
    overflow: auto;
    outline: none;
}

p {
    color: #414141;
    font-size: 25px;
    text-align: center;
    display: block;
    padding: 3px;
}

p.titulos {
    font-size: 20px;
}


/*************************** TABLE ***************************/

#archived {
    cursor: default;
}



.col-1-1 {
    width: 60%;
}

.col-1-2 {
    width: 30%;
}

.col-1-3 {
    width: 10%;
}

.col-2-1 {
    width: 40%;
}

.col-2-2 {
    width: 15%;
}

.col-2-3 {
    width: 15%;
}

.col-2-4 {
    width: 15%;
}

.col-2-5 {
    width: 15%;
}

.col-3-1 {
    width: 40%;
}

.col-3-2 {
    width: 23%;
}

.col-3-3 {
    width: 22%;
}

.col-3-4 {
    width: 15%;
}

.icon-table {
    font-size: 15px;
    padding-top: 2px;
    padding-bottom: 2px
}

caption {
    padding-left: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    text-align: left;
    color: #414141;
}

.columns {
    background-color: #aeafb1;
    color: white;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: auto;
}

table,
th,
td {
    border: 1px solid white;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

table tr:hover td.change {
    background-color: #d9d9d9;
}

tr {
    height: 30px;
    font-size: 13px;
    text-align: center;
}

input[type="text"] {
    width: 70%;
    height: 100%;
    text-align: center;
    font-size: 13px;
}

button[type="submit"] {
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button {
    background: transparent;
    color: #aeafb1;
}

.add:hover {
    color: #14a9ff;
}

.eliminar:hover {
    color: #f22828;
}


/***************************************************************/


/**/
