<!DOCTYPE html>
<html lang="es">
<head>
	<title>Manager</title>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div name="columnaIzda" class="col-1">
		<nav>
			<ul>
				<li id="index">
					<div><a href="index">Home</a></div>
				</li>
				<li id="manager">
					<div><a class="active" href="#">Manager</a></div>
				</li>
				<li id="registros">
					<div><a href="register">Register</a></div>
				</li>
			</ul>
		</nav>
	</div>
	<div name="columnaCentro" class="col-2">
		<div name="logoHome" style="width:100%;height:15%;">
			<br>
			<img src="../static/logo.png" id="logo">
		</div>

		<div name="tituloHome" style="width:100%;height:15%;">
			<p>Manager</p>
		</div>
        <div style="width:100%;height:15%;">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <p style="color: red;">{{ message }}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}
        </div>
		<div name="cuerpoManager" style="width:100%;height:45%;">
			<div name="tablas" style="width:100%;height:100%;">
				<table>
					<caption>Nuevo usuario</caption>
					<tr style="font-size: 20px;">
						<td title="Nombre" class="columns col-1-1"><i class="fa fa-user-circle fa-fw icon-table"></i></td>
						<td title="Permiso" class="columns col-1-2"><i class="fa fa-unlock fa-fw icon-table"></i></td>
						<td title="Crear" class="columns col-1-3"><i class="fa fa-user-plus fa-fw icon-table"></i></td>
					</tr>
					<tr class="add">
						<form action="/add_user" method="post" id="add">
							<td>
								<input name="Name" type="text" style="width:200px;" placeholder="Pepe Muñoz De La Fuente" required>
							</td>
							<td class="change">
                                <select name="Permission" form="add" required>
                                    <option value=1>Socio/a</option>
                                    <option value=2>Junta</option>
                                    Seleccione
                                </select>
                            </td>
							<td>
								<button type="submit" class="add icon-table">
									<i id="icon-table" class="fa fa-plus-square fa-fw"></i>
								</button>
							</td>
						</form>
					</tr>
				</table>
				<br>
				<table>
					<caption>Usuarios</caption>
					<tr style="font-size: 20px;">
						<td title="Persona" class="columns col-1-1"><i class="fa fa-user-circle fa-fw icon-table"></i></td>
						<td title="Permiso" class="columns col-1-2"><i class="fa fa-lock fa-fw icon-table"></i></td>
						<td title="Eliminar" class="columns col-1-3"><i class="fa fa-user-times fa-fw icon-table"></i></td>
					</tr>
					{% for row in rows %}
						<tr>
							<form action="/del_user" method="post" id="del">
								<input type="hidden" value="{{row['uid']}}" name="uid">
								<td class="change">{{row["name"]}}</td>
									{% if row["permission"] == 1 %}
										<td class="change">Socio/a</td>
                                    {% endif %}
									{% if row["permission"] == 2 %}
										<td class="change">Junta</td>
                                    {% endif %}
								<td>
									<button class="eliminar icon-table" type="submit">
										<i class="fa fa-minus-square fa-fw icon-table"></i>
									</button>
								</td>
                            </form>
						</tr>
                    {% endfor %}
				</table>
			</div>
		</div>
		<div name="abajo" style="width:100%;height:50px;"></div>
	</div>
	<div name="columnaDcha" class="col-3">
	</div>
</body>

</html>
