<!DOCTYPE html>
<html lang="es">
<head>
    <title>Registros</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div name="columnaIzda" class="col-1">
        <nav>
            <ul>
                <li id="index">
                    <div><a href="index">Home</a></div>
                </li>
                <li id="manager">
                    <div><a href="manager">Manager</a></div>
                </li>
                <li id="registros">
                    <div><a class="active" href="#">Register</a></div>
                </li>
            </ul>
        </nav>
    </div>
    <div name="columnaCentro" class="col-2">
        <div name="logoHome" style="width:100%;height:15%;">
            <br>
            <img src="../static/logo.png" id="logo">
        </div>
        <div name="tituloHome" style="width:100%;height:15%;">
            <p>Registros</p>
        </div>
        <div name="cuerpoRegistros" style="width: 100%; height: 70%;">
            <div name="tabla" style="width: 100%; height: 100%;">
                <table>
                    <caption>Registros</caption>
                    <tr style="font-size: 20px;">
                        <td title="Puerta" class="columns"><i class="fa fa-sign-in fa-fw icon-table"></i></td>
                        <td title="Persona" class="columns"><i class="fa fa-user-circle fa-fw icon-table"></i></td>
                        <td title="Fecha-hora" class="columns"><i class="fa fa-clock-o fa-fw icon-table"></i></td>
                    </tr>
                    {% for row in rows %}
                    <tr>
                        <td class="change">{{row["door"]}}</td>
                        <td class="change">{{row["name"]}}</td>
                        <td class="change">{{row["date"]}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div name="abajo" style="width:100%;height:50px;"></div>
    </div>
    <div name="columnaDcha" class="col-3"></div>
</body>

</html>
